<form action="/" method="POST">
  <label for="base">Base:</label>                   <input type="text" id="base" name="base" value="{{base}}"><br>
  <label for="shoulder">Shoulder:</label>           <input type="text" id="shoulder" name="shoulder" value="{{shoulder}}"><br>
  <label for="elbow">Elbow:</label>                 <input type="text" id="elbow" name="elbow" value="{{elbow}}"><br>
  <label for="wrist">Wrist:</label>                 <input type="text" id="wrist" name="wrist" value="{{wrist}}"><br>
  <label for="grip_rotation">Grip Rotation:</label> <input type="text" id="grip_rotation" name="grip_rotation" value="{{grip_rotation}}"><br>
  <label for="gripper">Gripper:</label>             <input type="text" id="gripper" name="gripper" value="{{gripper}}"><br>
  <input type="submit" name="submit_button" value="Submit">
  <input type="submit" name="submit_button" value="Default Positions">
</form>

